{:kotoba.app/id "cloud.itonami.isic-2710", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiairyvs2swjuqev62yrcmroirrerqddozl3gcry3jpjjek7uzmmde", :kotoba.app/embed-url "ipfs://bafkreiairyvs2swjuqev62yrcmroirrerqddozl3gcry3jpjjek7uzmmde", :published {:archive "https://kotobase.net/ipfs/bafkreiairyvs2swjuqev62yrcmroirrerqddozl3gcry3jpjjek7uzmmde", :size 73029, :put-status 201, :get-status 200, :at "2026-08-15T13:49:13.059Z"}}
